<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content={{ .Site.Params.Description }}>
  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/twitter_cards.html" . }}

  <title>{{ .Site.Title }} - The 0.01x Developer</title>

  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/axis.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/syntax.css">

  <link rel="shortcut icon" type="image/jpeg" href="{{ .Site.Params.Favicon }}">
  <link rel="apple-touch-icon" type="image/jpeg" href="{{ .Site.Params.Avatar_URL }}">

  <!-- FontAwesome Icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css"
    integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
    crossorigin="anonymous">
</head>
